
.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.container2{
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.nav-li{
    font-size: 25px;
    margin-left: 15px;
}
.search-logo{
    height: 40px;
}

.logo img{
    height: 100px;
}
.big-chris{
    max-width: 100%;
    width: 90%;
}
.small-chris{
    max-width: 100%;
    width: 90%;
    margin: 5px 10px;
}

.load-more{
    display: flex;
    justify-content: center;
}